# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env


# Pytest
.cache/

# Installer logs
dist/
build/
*.egg-info/

# VSCode
.vscode/

# macOS
.DS_Store

# Misc
*.log
*.sqlite3 